# Sécurité Django
DEBUG=True
SECRET_KEY=changez-moi-par-une-cle-secrete-longue

# Connexion Base de données MySQL
DB_NAME=defaultdb
DB_USER=avnadmin
DB_PASSWORD=votre_mot_de_passe
DB_HOST=votre-host.aivencloud.com
DB_PORT=18923

# Email SMTP — codes de réinitialisation de mot de passe
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=votre.email@gmail.com
EMAIL_HOST_PASSWORD=mot-de-passe-application-gmail
DEFAULT_FROM_EMAIL=votre.email@gmail.com
